body{
        font-family: Arial;
        font-weight: normal;
        font-size: 16px;
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px;

}

hr{
        border: 1px solid gray;
}
a {text-decoration: none;}
a:link {color: blue;}
a:visited {color: green;}
a:focus, a:hover {border-bottom: 1px solid;}
a:active {color: red;}

.zoom {
        padding: 50px;
        transition: transform .2s; /* Animation */
        margin: 0 auto;
}
      
.zoom:hover {
transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#main_title{
        font-weight: bold;
        font-size: 2em;
        text-align: center;
}

#tag_line{
        font-size: 1.5em;
        text-align: center;
        font-style: italic;
}

#main_menue{
        text-align: center;
        font-weight: bold;
        font-size: 1.25em;
        border: 3px solid grey;
        padding: 10px;

}
#main_menue a {text-decoration: none;}
#main_menue a:link {color: black;}
#main_menue a:visited {color: grey;}
#main_menue a:focus, a:hover {border-bottom: 2px solid;}
#main_menue a:active {color: green;}

#intro {
}

#mypic {
        float: right;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 250px;  
        margin-left: 10px;

}

#serverpic {
        float: left;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 500px;  
        margin-right: 10px;

}